# Normal dependencies (from PyPI)
streamlit
langchain
langchain-ollama
langchain_community
langchain-google-genai
faiss-cpu
wikipedia-api
ollama
python-dotenv
lxml
requests
beautifulsoup4
langgraph
langchain-huggingface
sentence-transformers
transformers

# CPU-only PyTorch
-f https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
